",
  "walletDrawerLabelCopyCvc": "CVC をコピー",
  "walletDrawerLabelCopyNameAddress": "名前と住所をコピー",
  "walletDrawerLabelShowCardNumber": "カード番号を表示",
  "walletDrawerLabelShowCvc": "CVC を表示",
  "walletDrawerLabelShowExpirationDate": "有効期限の日付をコピー",
  "walletDrawerLinkErrorMessage": "Microsoft アカウントを $1 にリンクできません。後でもう一度お試しください。",
  "walletDrawerNameAndAddressLabel": "お客様の名前と請求先住所",
  "walletDrawerPayWithVirtualCard": "$1 $2 カードで支払う",
  "walletDrawerSystemErrorHeader": "申し訳ございません",
  "walletDrawerVirtualCardNumberLabel": "仮想カード番号",
  "walletFeedbackThankYouText": "フィードバックをお寄せいただき、ありがとうございます。ウォレットの改善に活用させていただきます。",
  "walletMicrofeedbackPrompt": "ウォレットに満足していますか?",
  "walletNotInterestedText": "興味ありません",
  "walletPWAAddShortcut": "ショートカットの追加",
  "walletPWACommonPromoContent": "今すぐインストールしてウォレットにすばやくアクセスしましょう。",
  "walletPWAPromoContent": "今すぐインストールして、$1 の Microsoft Rewards ポイントを獲得しましょう。",
  "walletPWAPromoTitle": "ウォレットへのショートカットを追加",
  "walletSeeDetailsAriaLabel": "詳細の表示",
  "walletUXAddPaymentButtonTitle": "新しいカードの追加",
  "walletUXManagePaymentButtonTitle": "支払い方法の管理",
  "walletUXMaskedUnavailableCardsDescriptionNew": "ネットワーク アクセス制限または接続の問題のため、$1 を使用できません",
  "walletUXMaskedUnavailableCardsTheseCards": "これらのカード",
  "walletUXMaskedUnavailableCardsThisCard": "このカード",
  "walletUXMaskedUnavailableCardsTitle": "利用できないカード",
  "walletUXSInEligibleCardLogoContent": "この Web サイトは仮想カードをサポートしていません",
  "walletUXSTokenCardLogoContent": "支払い情報を保護するために、仮想カード番号 •••• に $1 がアクティブ化されました",
  "zipDescriptionText": "今すぐ購入して、Zip の 6 週間の分割払いをご利用ください。$1",
  "zipEstimatedFeesText": "遅延料金が適用される場合があります",
  "zipFeeTermLinkText": "Zip のサービス使用